@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800,900&display=swap&subset=latin-ext');

body{
    font-family: 'Raleway', sans-serif;
    margin:0;
    padding:0;
}

.main{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-flow: row wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    height: auto;
}

header{
    background-color: #FBDB00;
    color: black;
    flex: 0 0 100%;
    padding-top:20px;
    max-width: 100%;
    height: auto;
    padding-bottom: 10%;
}

.white{
    background-color: white;
    color: black;
    flex: 0 0 100%;
    max-width: 100%;
    height: auto;
    padding-bottom: 3%;
}

.black{
    background-color: black;
    color: white;
    flex: 0 0 100%;
    width: 100%;
    height: auto;
    margin-top: 5%;
}

nav{
    margin-left: 10%; 
    margin-right: 10%;
    height: 60px;
    display: flex;
}

.logo{
    width: 30%;
    height: 60px;
    text-align: center;
    float: left;
    padding-top: 7px;
}

.menu{
    margin-left: 20%;
    display: inline-block;
}

a{
    display: inline-block;
    list-style-type: none;
    padding: 0px 50px 0px 50px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
li{
    list-style-type: none;
    display: inline;
}

.menu li:hover{
    color: #050505e7;
}

.content{
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 5%;
    height: 500px;
    width: auto;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.text{
    margin-top: 5%;
    padding: 10px;
    width: 40%;
    text-align: left;
    flex-wrap: wrap;
}

h1{
    font-size: 38px;
}

h2{
    font-size: 28px;
}

p{
    font-size: 18px;
}

.brand .icon{ 
    display: inline;
    padding-right: 8%;
}

.tablet{
    box-shadow: 0px 40px 9px -5px rgba(219,191,9,1);
    margin-top: 5%;
    animation-name: fly;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: relative;

}

.topic{
    width: 60%;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.topic h2{
    font-weight: bold;
}

.about{
    padding: 40px 0px 100px 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 60%;
}

.about .element{
    display: flex;
    flex-grow: 1;
    width: 33%;
}

.about .element .icon{
    display: inline-block;
    padding-top:20px;
    margin: 0px 20px;
}

.about .element .description{
    display: inline-block;
    font-size: 14px;
}

.about .element .description h3{
    font-size: 16px;
    font-weight: bold;
}

.about .element .description p{
    font-size: 14px;
    font-weight: lighter;
    color: #6e6e6e;
}

.newsletter{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
}

.invite{
    color: yellow;
    text-align: center;
}

.whywe{
    color: rgb(179, 178, 178);
    text-align: center;
}

.contact input{
    display:inline-block;
    width: 70%;
    padding: 10px 10px;
    border: 1px solid;
    border-color: white;
    border-top-left-radius: 3%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 0%;
}

.contact button{
    display:inline-block;
    border: none;
    min-height: 35px;
    line-height: 35px;
    padding:0;
    margin-left: 5px;
    width: 15%;
    font-weight: bold;
}

button{
    background-color: yellow;
}

button:hover{
    background-color: #DEDB06;
}

.socialmedia{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 8%;
}

.socialmedia i:hover{
    color: #DEDB06;
}

.facebook{
    text-align: center;
    font-size: 0.5rem;
    color: yellow;
    margin-right: 3%;
}

.twitter{
    text-align: center;
    font-size: 0.5rem;
    color: yellow;
    margin-right: 3%;
}

.google{
    text-align: center;
    font-size: 0.5rem;
    color: yellow;
    margin-right: 3%;
}

.pinterest{
    text-align: center;
    font-size: 0.5rem;
    color: yellow;
    margin-right: 3%;
}

.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    align-items: baseline;
    margin-bottom: 10%;
}

.footer p{
    margin: 0;
}

.team{
    text-align: left;
    width: 13%;
    color: #a9a3a4;
}

.business{
    margin-left: 3%;

}

.business a{
    list-style-type: none;
    display: block;
    color: #a9a3a4;
}

.business a:hover{
    color: #828282;
}

.contactblack{
    margin-left: 3%;
}

.contactblack a{
    list-style-type: none;
    display: block;
    color: #a9a3a4;
}

.contactblack a:hover{
    color: #828282;
}

.downloand{
    margin-left: 3%;
}

.downloand a{
    list-style-type: none;
    display: block;
    color: #a9a3a4;
}

.downloand a:hover{
    color: #828282;
}

.media{
    margin-left: 3%;
}

.media a{
    list-style-type: none;
    display: block;
    color: #a9a3a4;
}

.media a:hover{
    color: #828282;
}

@keyframes fly{
    0%   {transform:translateY(0px);}
    50%  {transform:translateY(10px);}
    100%  {transform:translateY(0px);}
}

@media all and (max-width: 1690px) { 
    .menu{ 
        margin-left: 10%;
    }
}
@media all and (max-width: 1282px) { 
    .footer{
        display: flex;
        width: 100%;
    }
    .team{
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }
    .business{
        margin: 0;
    }
    .contactblack{
        margin: 0;
    }
    .downloand{
        margin: 0;
    }
    .media{
        margin: 0;
    }
    nav{
        margin: 0;
    }
    menu{
        margin-left: 5%;
    }
}
@media all and (max-width: 980px) { 
    nav{
        flex-wrap: wrap;
    }
    .menu{
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }
    .menu a{
        padding: 0% 7% 0% 7%;
    }
    .logo{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .menu{
        margin-left:auto;
        margin-right: auto;
        width: auto;
    }
    .text{
        text-align: center;
        width: 90%;
    }
    .tablet{
        margin-right: auto;
        margin-left: auto;
    }
    .about{
        width: 95%;
        display: flex;
        flex-direction: column;
    }
    .topic{
        width: 90%;
    }
    .about .element{
        width: 100%;
    }
    .whywe{
        width: 100%;
    }
    .team{
        width: 90%;
    }
    .newsletter{
        width: 100%;
    }
    
}
@media all and (max-width: 736px) { 
    .text{
        width: 90%;
    }
    nav{
        width: 100%;
        margin: 0;
    }
    .logo{
        width: 100%;
    }
    .menu{
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .content{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .menu a{
        width: 70px;
        padding: 0% 2% 0% 2%;
    }
    .menu{
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .menu ul{
        padding: 0;
    }
}
@media all and (max-width: 480px) {    
    header, .white, .black, .main, .menu, .logo{
        width: 100%;
        margin: 0;
    }
    nav{
        display: flex;
        flex-wrap: wrap;
    }
    .menu a{
        width: 70px;
        padding: 0% 1% 0% 1%;
    }
    .menu li{
        width: 70px;
        margin:0;
        padding: 0 5px;
    }
    .tablet{
        padding-bottom: 20%;
    }
    header{
        padding-bottom: 20%;
    }
    .menu{
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }
    .menu ul{
        padding: 0;
    }
}